<div class="nk-app-root">
    <div class="nk-main ">
        <div class="nk-wrap nk-wrap-nosidebar">
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body">
                    <div class="brand-logo pb-5">
                        <a href="javascript:void" class="logo-link"><img class="logo-dark logo-img logo-img-lg" src="assets/images/logo.png" alt="logo"></a>
                    </div>
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title">User as been registered successfully !!</h5>
                            <div class="nk-block-des text-success">
                                <p (click)="login()" style="cursor: pointer;">Click here to login.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>