.hidescroll {
    overflow: auto;
    max-height: 100vh;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hidescroll::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.closeModal {
    background-color: #F47F0C;
    color: #E1E3E5;
    border-radius: 25px;
    border: 1px solid #F47F0C;
    padding: 3px 10px;
}

.logoModal {
    width: 100px;
    height: 20px;
}

.headerModal {
    border-bottom: 1px solid #D4DAE1;
}

.footerModal {
    border-top: 1px solid #D4DAE1;
}